<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:targetApi="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:targetApi="31" />

    <!-- Permissions for osmdroid -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:name=".TellVPortApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/indian_railways_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/indian_railways_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">

        <!-- osmdroid Configuration -->
        <meta-data
            android:name="osmdroid.basePath"
            android:value="osmdroid" />
        <meta-data
            android:name="osmdroid.cachePath"
            android:value="osmdroid/cache" />

        <!-- AltBeacon Services -->
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:exported="false" />
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:exported="false" />
        <receiver
            tools:replace="android:exported"
            android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Activities -->
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.BLEActivity" android:exported="true" />
        <activity android:name=".views.SensorActivity" android:exported="true" />
        <activity android:name=".views.SpeechActivity" android:exported="true" />
        <activity android:name=".views.HomeActivity" android:exported="true" />
    </application>
</manifest>